*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: center 40px;
    background-repeat: no-repeat;
    color: #fff;

}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-line {
    background: #000;
    padding: 11px 0;
}


.top-line .container {

    display: flex;
    justify-content: space-between;
   align-items: center;
   font-size: 16px;
}


.menu {
    display: flex;
    list-style: none;
   
}

.menu li {
margin-right: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 60px 0 80px;
}



.login {
    display: flex;
}

.login a {
    margin-left: 10px;
}




.top-line a{
    color: #fff;
}


.description {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -30px;
}



.title-white {
    font-size: 30px;
    margin-bottom: 13px;
}

.description p{
    font-size: 14px;
    line-height: 1.714;
}


.description-item img{
margin-bottom: 17px;
}


.standart-white-section{
    background: #f5f2ef;
    padding-bottom: 50px;
    /* padding-top: 57px; */
    color: #000;
    font-size: 14px;
    line-height: 1.714;
}


.news-photo, .contact-information {
    display: flex;
    justify-content: center;
    background-image: url(../img/Layer\ 17.png);
    background-position: center;
    background-repeat: no-repeat;
    
}


.news span{
    display: block;
    margin-bottom: 35px;
    margin-top: -10px;
}





.title-black{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}


.half-section {
width: 50%;
padding: 0 50px;
}


.news-photo span{
    color: #000;
    font-size: 14px;
}


.news-photo{
margin-top: 64px;
margin-bottom: 36px;
}



.photo{
    text-align: center;
}

.photo h2{
    margin-left: -135px;
}

.photo img{
    margin-bottom: 38px;
    border: 7px solid white;
}

.back{
    margin-right: 6px;
}

.next {
    margin-left: 6px;
}



.contacts p {
    margin-bottom: 35px;
}

.contacts a{
    margin-right: 20px;
}

.contact-information{
    margin-bottom: 113px;
}



.record input{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin: 0 0px;
    
}


.half-form{
    width: 47%;
}

#sub-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#sub-form label{ 
    display: block;
    margin-left: 17px;
    margin-bottom: 12px;
    line-height: 1;
}

#sub-form input{
    padding: 14px;
    border: 2px solid black;
    margin-bottom: 23px;
}


footer {
    background: #232323;
    padding: 11px 0;

}


.footer-wrap {
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 54px;
    padding-bottom: 28px;
}



.footer-wrap a{
    color: #fff;
}


.center h4{
padding-left: 25px;
}


.right h4{
    padding-left: 20px;
    padding-bottom: 20px;
}


.logo-vk{
    background-image: url(../img/vk.png);
    
}


.logo-facebook{
    background-image: url(../img/facebook.png);
}


.logo-instagram{
    background-image: url(../img/instagram.png)

}

.social-icon{
    width: 100%;
    background-repeat: no-repeat;
    padding: 22px;
    margin-right: 6px;
}


.icons-wraper{
display: flex;
}



.hidden-login{
    display: none;
    text-align: center;
    width: 460px;
    height: 385px;
    background: #f5f2ef;
    position: fixed;
    top: 13%;
    left: 50%;
    color: #000;
    /* transform: translate(-50% , 0); */
    margin-left: -230px;
}




.cross-login{
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    padding: 11px;
    position: absolute;
    top: 5px;
    left: 470px;
    background-color: Transparent;
    overflow: hidden;
}


.hidden-login .with-icon{
    display: block;
    border: 2px solid black;
    padding: 14px;
    width: 282px;
    margin-left: 80px;
    margin-bottom: 9px;
    margin-top: 18px;
}


.hidden-login a{
    text-decoration: underline;
    color: black;
}

input{
    background-color: rgba(0,0,0,0);
}


.hidden-login label {
    padding-right: 69px;
}

.hidden-login .long {
    margin-top: 15px;
}


.hidden-login b{
    font-size: 14px;
    
}



button{
    color: #fff;
    border:none;
}

.button-default{
    background-color: #000;
    color: #fff;
    padding: 17px 15px;
    min-width: 140px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 1;

}

.long{
    background-color: #000;
    padding: 17px 150px;
    min-width: 300px;
}


.hidden-map {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    color: #000;
    margin-left: -390px;
}

.cross-map {
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    padding: 11px;
    position: absolute;
    top: 5px;
    left: 790px;
    background-color: Transparent;
    overflow: hidden;
}


/* JS */

.show-login {
    display: block;
    }

.show-map {
    display: block;
}
/* JS */



/* аниация для показа окна (старт  */
@keyframes bounce {     
0%   { transform: translateY(-2000px); }     
70%  { transform: translateY(30px);    }     
90%  { transform: translateY(-10px);   }     
100% { transform: translateY(0);       }  
} 


.show-login, .show-map {     
animation-name: bounce;     
animation-duration: 0.6s;  
}

/* аниация для показа окна (финиш  */




/* анимация для ерора окна (старт */

@keyframes shake {
0%, 100%                { transform: translateX(0);     }     
10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }     
20%, 40%, 60%, 80%      { transform: translateX(10px);  }   
}

.modal-error {     
     animation-name: shake;     
    animation-duration: 0.6s;   
    
}


/* анимация для ерора окна (финиш */